* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.container ul {
  display: flex;
  margin: 25px 50px 25px 25px;
}
.container li {
  margin-left: 25px;
}
.container a {
  color: #636060;
  font-family: "Courier New", Courier, monospace;
}
header .logo {
  width: 60px;
  height: 60px;
  margin-top: -55px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.imggg {
  display: none;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.div1 {
  background-image: url(./img/Rectangle\ 1.jpg);
  height: 606px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div1h1 {
  font-size: 79px;
  line-height: 90.84px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1p1 {
  font-weight: 400;
  font-size: 19px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div22 {
  margin-left: 150px;
  margin-top: 50px;
}
.div2p {
  font-size: 17px;
  color: #636060;
}
.div2 h2 {
  margin-top: 25px;
}
.div2p2 {
  color: #636060;
  width: 235px;
}
.placesdiv {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  position: absolute;
  top: 1000px;
  right: 0;
}

.rome1div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome1div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}

.rome2div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome2div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}

.rome3div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome3div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}
.rome4div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome4div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}
.rome5div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome5div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}

.rome6div h2 {
  color: #343232;
  font-weight: 400;
  margin: 10px;
  font-size: 19px;
}
.rome6div p {
  width: 286px;
  color: #636060;
  margin: 15px;
}
